<p>
<% if message.user != current_user %>
    <%= link_to "", chat_room_up_vote_path(user_id: message.user.id, chat_room_id: message.chat_room.id),class:'fa fa-thumbs-up ', method: :put, remote: true %>
    <%= link_to "", chat_room_down_vote_path(user_id: message.user.id, chat_room_id: message.chat_room.id),class:'fa fa-thumbs-down', method: :put, remote: true %>
<% end %>
<span class="text-muted">Score:<%= message.user.votes %> | <%= message.user.name %> at <%= message.timestamp %> says</span><br>
<%= message.body %>
</p>
                