<div class="container room-show">
    <h1><%= @chat_room.title %></h1>
    <div id="chat-box">
        
        <%= render @chat_room.messages %>
    
    </div>

    <div class="container">
        <%= form_for [@chat_room, @message], remote: true, url: chat_room_new_message_path(chat_room_id = @chat_room.id) do |f| %>
            <div class="form-group">
                <%= f.label :message %>
                <%= f.text_field :body, autofocus: true, class: 'form-control' %>
            </div>
            <%= f.submit "Send", class: 'btn btn-primary' %>
        <% end %>
    </div> 
</div>