<% if current_user %>
    <% if current_user.instructor %>
        <div class="container feature feature-text make-height">
            <h2 class="discussions-cases">Available cases</h2>
            <% @chat_rooms.each do |room| %>
                <small>Created by: <%= @user.find(room.user_id).name %> at <%= room.created_at %></small>
                <li><%= link_to "#{room.title}", chat_room_path(room.id) %></li>
            <% end %>
        </div>
    <% else %>
        <div class="container feature feature-text make-height">
            <%= link_to "Start a chat", new_chat_room_path, class: 'btn btn-primary' %>
            <h3 class="pull-right">Instructors Available: <%= @num_instructors %></h3>
            <h2 class="discussions-cases">My discussions</h2>
            <ul>
                <% current_user.chat_rooms.each do |room| %>
                    <li><%= link_to "#{room.title}", chat_room_path(room.id) %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
<% else %>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-8 text-center">
                    <%= image_tag('helpoutLetters.png', class:'hero-text') %>
                    <h1 class="lead">A place to get support, and provide it.</h1>
                </div>
                <div class="col-md-4 text-center sign-up">                    
                    <h2>Get Started!</h2>
                    <%= link_to "Sign Up", new_user_registration_path, class:"btn btn-success btn-lg" %>
                    <%= link_to "Log In", new_user_session_path, class:"btn btn-success btn-lg" %>                    
                </div>
            </div>    
        </div>
    </div>
    <div class="container">
        <div class="row feature">
            <div class="col-md-6 text-right">
                <div class="feature-text">
                    <h1>No more worries.</h1>
                    <h2>As a user:</h2>
                    <p>Never buy an expensive service plan again. Simply chat with an available instructor and get help with your technical problems.  <br>Totally free.</p>
                </div>
            </div>
            <div class="col-md-6">
                <span class="fa fa-desktop"></span> 
            </div>
        </div>
        <div class="row feature">
            <div class="col-md-6 text-right">
                <div class="feature-text">
                    <h1>Help others learn their tech.</h1>
                    <h2>As an instructor:</h2>
                    <p>Let your geek side out. Help others learn their new technology products while keeping your skills sharp.</p>
                </div>
            </div>
            <div class="col-md-6">
                <span class="fa fa-hand-spock-o"></span> 
            </div>
        </div>
        <div class="row feature">
            <div class="col-md-6 text-right">
                <div class="feature-text">
                    <h1>Join our community.</h1>
                    <p>A simple, friendly community of people helping each other out.</p>
                </div>
            </div>
            <div class="col-md-6">
                <span class="fa fa-users"></span> 
            </div>
        </div>
    </div>
<% end %>


