<% if current_user %>
    <% if current_user.instructor %>
        <div class="container">
            <h2>Available cases</h2>
            <% @chat_rooms.each do |room| %>
                <small>Created by: <%= @user.find(room.user_id).name %> at <%= room.created_at %></small>
                <li><%= link_to "#{room.title}", chat_room_path(room.id) %></li>
            <% end %>
        </div>
    <% else %>
        <div class="container">
            <%= link_to "Start a chat", new_chat_room_path, class: 'btn btn-primary' %>
            <h3 class="pull-right">Instructors Available: <%= @num_instructors %></h3>
            <h2>My discussions</h2>
            <ul>
                <% current_user.chat_rooms.each do |room| %>
                    <li><%= link_to "#{room.title}", chat_room_path(room.id) %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
<% else %>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="display-3"><span class="fa fa-handshake-o"></span>HelpOut</h1>
                    <h1 class="lead">A place to get support, and provide it.</h1>
                </div>
                <div class="col-md-4 text-center">                    
                    <h2>Get Started!</h2>
                    <%= link_to "Sign Up", new_user_registration_path, class:"btn btn-success btn-lg" %>
                    <%= link_to "Log In", new_user_session_path, class:"btn btn-success btn-lg" %>                    
                </div>
            </div>    
        </div>
    </div>
    <div class="container">
        <div class="row feature">
            <div class="col-md-6 text-right">
                <div class="feature-text">
                    <h1>No more worries.</h1>
                    <p>Never buy an expensive service plan again. Simply chat with an available instructor and get help with your technical problems.  <br>Totally free.</p>
                </div>
            </div>
            <div class="col-md-6">
                <span class="fa fa-desktop"></span> 
            </div>
        </div>
    </div>
<% end %>


